@using MyFirstMVCWeb.Models
@{

    string teacher_name = Convert.ToString(Session["name"]);
    List<classromTable_1> wew = ViewBag.data4;
    ViewBag.Title = "exit";
    Layout = null;
    List<rollcallTable_1> w = ViewBag.data1;
    int i = 0;
    int m = 0;
    string b = ViewBag.data2;
    string course = Request.QueryString["b"];
}
<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" integrity="sha384-x/dM1/mfnt69GilOQS8KO9zRDQIhUtSGo/DBZmJbStD8ZRZbCLDwfuU3mSDkzSJ3" crossorigin="anonymous">
    <link rel="icon" href="~/Content/nkustnew.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" integrity="sha384-x/dM1/mfnt69GilOQS8KO9zRDQIhUtSGo/DBZmJbStD8ZRZbCLDwfuU3mSDkzSJ3" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <title>國立高雄科技大學點名平台</title>
</head>
<body>



    <div class="text-center">
        <img src="~/Content/nkustnav2.png" height="70" width="400" />
    </div>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a href="~/data/home" class="nav-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">首頁</font></font></a>
                </li>
                <li class="nav-item">
                    <a href="~/data/studentmenu" class="nav-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">課程名單</font></font></a>
                </li>
                <li class="nav-item">
                    <a href="~/data/exit1" class="nav-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">今日課程點名單</font></font></a>
                </li>
                <li class="nav-item">
                    <a href="~/data/one1" class="nav-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">點名紀錄</font></font></a>
                </li>
                <li class="nav-item">
                    <a href="~/data/teacherregister" class="nav-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">設定</font></font></a>
                </li>
                <li class="nav-item">
                    <a href="~/one/LogOff" class="nav-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">登出</font></font></a>
                </li>

            </ul>
        </header>
    </div>
    <select onclick="xx(this)" class="form-select form-select-lg mb-3  " aria-label=".form-select-lg example">
        @if (course == null)
        {
            <option selected>請選擇課程</option>
            foreach (var z in wew)
            {
                if (z.teacher == ViewBag.teh)
                {

                    <option value="@z.Course">@z.classroom</option>



                }
            }
        }
        @if (course != null)
        {
            <option value="exit1">請選擇課程</option>
            foreach (var z in wew)
            {
                if (z.teacher == ViewBag.teh)
                {
                    if (z.Course == course)
                    {
                        <option selected>@z.classroom</option>

                    }
                    else
                    {
                        <option value="@z.Course" >@z.classroom</option>
                    }
                }
            }
        }
    </select>
    <form method="post" id="form1">
        <div class=" justify-content-end text-right ">
            <input class="btn btn-outline-primary" type="button" value="刷新頁面" onClick="window.location.reload()">
            <input class="btn btn-outline-primary" type="submit" onclick="Edit()" value="提交補點" />
            <input class="btn btn-outline-primary" type="submit" onclick="Sav2()" value="儲存全部紀錄" />
            <input class="btn btn-outline-danger" type="submit" onclick="del()" value="取消補點" />
        </div>

        <table id="table1" class="table table-hover">
            <thead class="thead1 ">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">學號</th>
                    <th scope="col">姓名</th>
                    <th scope="col">班級</th>
                    <th scope="col">出席</th>
                    <th scope="col">時間</th>
                    <th scope="col">日期</th>
                    <th scope="col">補點</th>
                    <th scope="col">取消補點</th>
                </tr>
            </thead>
            <tbody class="tbody1">
                @if (w != null)
                {
                    foreach (var a in w)
                    {
                        if (a.class2 == b)
                        {
                            if (a.attend == "未到課")
                            {
                                m = m + 1;
                                i = i + 1;
                                <tr class="table-danger">
                                    <td>@i</td>
                                    <td>@a.status</td>
                                    <td>@a.name</td>
                                    <td>@a.class1</td>
                                    <td>@a.attend</td>
                                    <td>@a.time</td>
                                    <td>@a.data</td>
                                    @if (@a.attend == "未到課")
                                    {
                                        <td id="chebox">
                                            <input type="checkbox" style="zoom:160%" name="status" value="@a.status" />
                                        </td>
                                        ///框大一點
                                    }
                                    <input type="hidden" name="class2" value="@a.class2">
                                </tr>
                            }
                            else
                            {
                                i = i + 1;
                                <tr>
                                    <td>@i</td>
                                    <td>@a.status</td>
                                    <td>@a.name</td>
                                    <td>@a.class1</td>
                                    <td>@a.attend</td>
                                    <td>@a.time</td>
                                    <td>@a.data</td>
                                    <td></td>
                                    @if (a.attend == "補點")
                                    {
                                        <td id="chebox">
                                            <input type="checkbox" style="zoom:160%" name="status" value="@a.status" />
                                        </td>
                                    }
                                    <input type="hidden" name="class2" value="@a.class2">
                                </tr>
                            }
                        }
                    }
                }
            </tbody>
        </table>
    </form>
    @if (m > 0)
    {
        <h2 class="mb-10">
            此堂學生到課數
            <span class="badge bg-secondary">@(i-m)</span>、未到課數
            <span class="badge bg-secondary">@m</span>。
        </h2>
    }
    <p>系統會自動保存，所有紀錄</p>
    <script>
        function xx(value) {
            var selectedOption = value.options[value.selectedIndex];
            if (selectedOption.value == "ch2") {
                location.href = "ch2";
            } if (selectedOption.value == "en1") {
                location.href = "en1";
            } if (selectedOption.value == "ma3") {
                location.href = "ma3";
            } if (selectedOption.value == "exit1") {
                location.href = "exit1";
            }
        }
    </script>
    <script>
        function Edit() {
            var x = confirm("確定要補點名!");
            if (x == true) {
                document.getElementById("form1").action = "Edit";
            }
        }
    </script>
    <script>
        function del() {
            var e = confirm("確定要取消補點!");
            if (e == true) {
                document.getElementById("form1").action = "del";
            }
        }
    </script>
    <script>
        function Sav2() {
            var x = confirm("確定要儲存!");
            if (x == true) {
                location.href = "/data/Sav2";
            }
        }
    </script>
    <script>
        //查找表格的<th>元素，讓它們可單擊
        function makeSortable(table) {
            var headers = table.getElementsByTagName("th"); /*th所有行*/
            for (var i = 0; i < headers.length; i++) {
                (function (n) {
                    var flag = false;
                    headers[n].onclick = function () {
                        // sortrows(table,n);
                        var tbody = table.tBodies[0];//第一個<tbody>
                        var rows = tbody.getElementsByTagName("tr");//tbody中的所有行
                        rows = Array.prototype.slice.call(rows, 0);//真實數組中的快照
                        //slice(tbody中的所有行~0)獲取元素
                        //基於第n個<td>元素的值對行排序
                        rows.sort(function (row1, row2) {
                            var cell1 = row1.getElementsByTagName("td")[n];//獲得第n個單元格
                            var cell2 = row2.getElementsByTagName("td")[n];
                            var val1 = cell1.textContent || cell1.innerText;//獲得文本內容
                            var val2 = cell2.textContent || cell2.innerText;

                            if (val1 < val2) {

                                return -1;

                            } else if (val1 > val2) {

                                return 1;
                            } else {
                                return 0;


                            }
                        });
                        if (flag) {
                            rows.reverse();
                        }
                        //在tbody中按它們的順序把行添加到最后
                        //這將自動把它們從當前位置移走，故沒必要預先刪除它們
                        //如果<tbody>還包含了除了<tr>的任何其他元素，這些節點將會懸浮到頂部位置
                        for (var i = 0; i < rows.length; i++) {
                            tbody.appendChild(rows[i]);

                        }

                        flag = !flag;
                    }
                }(i));
            }
        }

        window.onload = function () {
            var table = document.getElementsByTagName("table")[0];
            makeSortable(table);
        }
    </script>
</body>

</html>